@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
  }
}

@layer base {
  :root {
    --clr-cyan-300: hsl(192, 90%, 77%);
    --clr-cyan-600: hsl(192, 37%, 48%);
    --clr-purple-300: hsl(268, 100%, 86%);
    --clr-purple-600: hsl(268, 34%, 53%);
    --clr-slate-300: hsl(240, 18%, 85%);
    --clr-slate-600: hsl(240, 10%, 57%);
    --clr-slate-900: hsl(240, 21%, 20%);
    --clr-white: hsl(0, 0%, 98%);

    --ff-redhat-display: "Red Hat Display", sans-serif;

    --text-wrapper-sm: 19.438rem;
    --text-wrapper-md: 31.5rem;
    --text-wrapper-lg: 34rem;

    --layout-wrapper-sm: 19.438rem;
    --layout-wrapper-md: 42.5rem;
    --layout-wrapper-lg: 70rem;
  }

  html {
    font-family: var(--ff-redhat-display);
    background-color: var(--clr-white);
    color: var(--clr-slate-600);
  }
}

/*
Hero Wrapper Widths:
311px - mobile - 19.438rem
680px - tablet - 42.5
1120px - Desktop - 70rem

Content Wrapper Widths:
311px - mobile
680px - tablet
1120px - desktop
*/

@layer layout {
  .l-wrapper {
    max-width: 28rem;
    margin-inline: auto;
    padding-inline: 2rem;
    box-sizing: content-box;
    border: 1px solid blue;

    @media (width >= 22rem) {
      max-width: 42.5rem;
    }

    @media (width >=48rem) {
      max-width: 70rem;
    }
  }
}

@layer components {
  .main-header {
    padding-inline: 5rem;
    padding-block-start: 3rem;
    display: flex;
    justify-content: center;
    min-width: 119px;

    margin-block-end: 4rem;
  }

  .about__imgs {
    display: grid;
    grid-template-columns: repeat(2, 147.5px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .hero {
    display: grid;
    /* gap: 2rem; */
    grid-template-areas: "hero-left hero-right" "hero-body hero-body";
    justify-content: start;
    justify-content: center;
  }

  .hero__img {
    width: 60px;
    height: 60px;
  }

  .hero__left {
    grid-area: hero-left;
    position: relative;
    margin-inline-end: 17px;
    min-height: 10rem;
    min-inline-size: 11.719rem;
  }

  .hero__right {
    grid-area: hero-right;
    position: relative;
    min-height: 10rem;
    min-inline-size: 11.719rem;
  }

  .hero__body {
    grid-area: hero-body;
  }

  .hero__title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 900;
    color: var(--clr-slate-900);
    text-align: center;
    margin-block-start: 3rem;
  }

  .hero__text {
    color: var(--clr-slate-600);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
  }

  .hero__body {
    display: grid;
    gap: 24px;
    padding-inline: 2rem;
  }

  .button {
    border-radius: 29px;
    color: var(--button-fg, var(--clr-white));
    background-color: var(--button-bg, var(--clr-cyan-600));
    font-size: var(--button-font-size, 1rem);
    font-weight: 900;
    line-height: 1.5;
    padding-block: 1rem;
    padding-inline: 2.5rem;
    width: fit-content;
  }

  .button__body {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  .button--cyan {
    background-color: var(--clr-cyan-600);
  }

  .button--purple {
    background-color: var(--clr-purple-600);
  }

  .button--version {
    color: var(--clr-cyan-300);
  }

  .about {
    display: grid;
    position: relative;
    padding-inline: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    text-align: center;
  }

  .about__imgs {
    margin-block-end: 4rem;
  }

  .about__number::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    background-color: var(--clr-slate-300);
    text-align: center;
    top: 0;
    left: 50%;
  }

  .about__number {
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    background-color: var(--clr-white);
    color: var(--clr-slate-600);
    padding: 1rem;
    border: 1px solid var(--clr-cyan-300);
    border-radius: 100%;
    width: 56px;
    height: 56px;
  }

  .about__number-wrapper {
    margin-bottom: 4rem;
    padding-top: 5rem;
  }

  .about__title {
    color: var(--clr-slate-900);
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .about__subtitle {
    text-transform: uppercase;
    color: var(--clr-cyan-600);
    line-height: 1.1;
    font-size: 0.75rem;
    letter-spacing: 4px;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .about__text {
    color: var(--section-text, var(--clr-slate-600));
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
  }

  .download {
    background-color: var(--clr-cyan-600);
    color: var(--clr-white);
  }
}

@layer hero-left {
  .person-9 {
    position: absolute;
    bottom: 0;
    right: 80%;
  }

  .person-12 {
    position: absolute;
    bottom: 4.5rem;
    right: 80%;
  }

  .person-10 {
    position: absolute;
    top: 0;
    right: 40%;
  }

  .person-7 {
    position: absolute;
    top: 4.5rem;
    right: 40%;
  }

  .person-11 {
    position: absolute;
    top: 1.5rem;
    right: 1%;
  }

  .person-8 {
    position: absolute;
    bottom: 0;
    right: 1%;
  }
}

@layer hero-right {
  .person-6 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .person-3 {
    position: absolute;
    left: 0;
    top: 4.5rem;
  }

  .person-4 {
    position: absolute;
    top: 1.5rem;
    left: 40%;
  }

  .person-1 {
    position: absolute;
    left: 40%;
    bottom: 0;
  }

  .person-5 {
    position: absolute;
    left: 80%;
    top: 0;
  }

  .person-2 {
    position: absolute;
    left: 80%;
    top: 4.5rem;
  }
}
