@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
  }
}

@layer base {
  :root {
    --clr-cyan-300: hsl(192, 90%, 77%);
    --clr-cyan-600: hsl(192, 37%, 48%);
    --clr-purple-300: hsl(268, 100%, 86%);
    --clr-purple-600: hsl(268, 34%, 53%);
    --clr-slate-300: hsl(240, 18%, 85%);
    --clr-slate-600: hsl(240, 10%, 57%);
    --clr-slate-900: hsl(240, 21%, 20%);
    --clr-white: hsl(0, 0%, 98%);

    --ff-redhat-display: "Red Hat Display", sans-serif;

    --text-wrapper-sm: 19.438rem;
    --text-wrapper-md: 31.5rem;
    --text-wrapper-lg: 34rem;

    --layout-wrapper-sm: 19.438rem;
    --layout-wrapper-md: 42.5rem;
    --layout-wrapper-lg: 70rem;
  }

  html {
    font-family: var(--ff-redhat-display);
    background-color: var(--clr-white);
    color: var(--clr-slate-600);
  }
}

/*
Hero Wrapper Widths:
311px - mobile - 19.438rem
680px - tablet - 42.5
1120px - Desktop - 70rem

Content Wrapper Widths:
311px - mobile
680px - tablet
1120px - desktop
*/

@layer layout {
}

@layer components {
  .button {
    --background: var(--clr-slate-600);
    --foreground: var(--clr-white);
    --padding-x: 2.5rem;
    --padding-y: 1rem;
    --radius: 1.813rem;
    --font-size: 1rem;
    --font-weight: 900;
    --line-height: 1.5;
    --span-color: var(--clr-cyan-300);
    --hover-background: hsl(192, 54%, 64%);
    --hover-foreground: var(--clr-white);

    background-color: var(--background);
    color: var(--foreground);
    padding-inline: var(--padding-x);
    padding-block: var(--padding-y);
    border-radius: var(--radius);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    outline: transparent;

    span {
      color: var(--span-color);
    }

    &:focus,
    &:hover {
      background-color: var(--hover-background);
      color: var(--hover-foreground);
    }
  }

  .button--purple {
    --background: var(--clr-purple-600);
    --span-color: var(--clr-purple-300);
    --hover-background: hsl(268, 55%, 71%);
  }

  .button--cyan {
    --background: var(--clr-cyan-600);
    --span-color: var(--clr-cyan-300);
  }

  .button__wrapper {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  .hero {
    --background: white;

    background-color: var(--background);
    display: grid;
    gap: 1rem;
    justify-content: center;
    margin-block-start: 3rem;
    padding-block-end: 2rem;
    grid-template-areas: "hero-left hero-right" "hero-wrapper hero-wrapper";

    /* @media (width > 375px) {
      --background: red;
    } */
  }

  .hero__left {
    grid-area: hero-left;
    position: relative;
    height: 160px;
  }

  .hero__right {
    grid-area: hero-right;
    position: relative;
    height: 160px;
  }

  .hero__text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--clr-slate-600);
  }

  .hero__title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--clr-slate-900);
  }

  .hero__wrapper {
    grid-area: hero-wrapper;
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-inline: 2rem;
    margin-block-start: 2rem;
  }

  .nav {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-block-start: 3rem;

    a:hover,
    a:focus {
      outline: transparent;
    }
  }

  .person {
    --top: unset;
    --right: unset;
    --bottom: unset;
    --left: unset;
    --width: 60px;
    --height: 60px;

    position: absolute;
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);

    width: var(--width);
    height: var(--height);
    overflow: clip;
  }

  .person--9 {
    --bottom: 0;
    --right: 80%;
  }

  .person--12 {
    --bottom: 45%;
    --right: 80%;
  }

  .person--10 {
    --top: 0;
    --right: 40%;
  }

  .person--7 {
    --right: 40%;
    --bottom: 20%;
  }

  .person--11 {
    --top: 1.5rem;
    --right: 0%;
  }

  .person--8 {
    --bottom: 0;
    --right: 0%;
  }

  .person--6 {
    --top: 0;
    --left: 0;
  }

  .person--3 {
    --left: 0;
    --bottom: 20%;
  }

  .person--4 {
    --top: 20%;
    --left: 45%;
  }

  .person--1 {
    --left: 45%;
    --bottom: 0;
  }

  .person--5 {
    --left: 90%;
    --top: 0;
  }

  .person--2 {
    --left: 90%;
    --bottom: 15%;
  }

  .section {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-inline: 2rem;
  }

  .section__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }
}
