@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@layer base {
  :root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(0, 0%, 42%);
    --clr-grey-950: hsl(0, 0%, 7%);
    --ff-base: "Figtree", sans-serif;
    --radius-lg: 1.25rem;
    --radius-sm: 0.625rem;
    --radius-xs: 0.25rem;
    --font-sm: 0.875em;
    --font-md: 1rem;
    --font-lg: 1.5rem;
  }

  html {
    font-family: var(--ff-base);
    line-height: 1.6;
  }

  body {
    background-color: var(--clr-yellow);
    font-size: 16px;
  }
}

@layer layout {
  .wrapper {
    display: grid;
    place-content: center;
    height: 100dvh;
    margin: 0.5rem;
  }
}

.card {
  max-width: 384px;
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius-lg);
  border: 1px solid var(--clr-grey-950);
  filter: drop-shadow(10px 10px 0 var(--clr-grey-950));

  @media (width < 375px) {
    width: 324px;
  }
}

.card__link {
  text-decoration: none;
  color: var(--clr-grey-950);
}

.card__link:hover {
  color: var(--clr-yellow);
}

.card__aside {
  margin-block-end: 1rem;
}

.card__header {
  margin-block-end: 1rem;
}

.card__body {
  margin-block-end: 1rem;
}

.card__title {
  font-size: var(--font-lg);
  color: var(--clr-grey-950);
}

.card__date {
  color: var(--clr-grey-950);
  font-size: var(--font-md);
}

.card__footer {
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__authorimage {
  width: 32px;
  height: 32px;
}

.card__authorname {
  font-size: var(--font-sm);
  color: var(--clr-grey-950);
  font-weight: 800;
  margin: 0;
}

.card__copy {
  color: var(--clr-grey-500);
  font-size: var(--font-md);
}

.card__aside {
}

.card__figure {
  padding: 0;
  margin: 0;
}

.card__image {
  border-radius: var(--radius-sm);
  width: 100%;
  display: block;
}

.card__tags {
}

.card__tag {
  background-color: var(--clr-yellow);
  color: var(--clr-grey-950);
  font-size: var(--font-sm);
  border-radius: var(--radius-xs);
  padding: 4px 12px;
  font-weight: bold;
}
